@font-face {font-family: honeyscript-semibold;
src:url(fonts/honeyscript-semibold.ttf) 
format("truetype");
font-weight:(semibold);}

@font-face {font-family: honeyscript-light;
src:url(fonts/honeyscript-light.ttf) 
format("truetype");
font-weight:(thin);}

.navbar-default {background-image: none;
background-color: #faf0d2;
border-color: #faf0d2 ;
box-shadow: none;}

.navbar-default .navbar-brand {color: #ed1d7d;}


h1{font-family: honeyscript-semibold;
	font-size: 40pt;
margin-bottom: 1px;}

h2{font-family: honeyscript-semibold;
font-size: 22pt; }

body{font-family: honeyscript-light;
	background-color:#faf0d2;
color: #ed1d7d;
text-shadow: none;
font-size: 14pt;
background-image: url("images/holi.png");
background-position: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
padding-left:35px;}

h5{font-size: 25pt;}

h3{font-size: 20pt;
font-family: honeyscript-semibold;
margin-bottom: 1px;}

.navbar-default .navbar-nav>li>a {color:#ed1d7d ;}


.navbar-default .navbar-nav>li>a {text-shadow: none; 
	padding: 15px !important;}

.navbar-default .navbar-nav>li>a:visited {
	padding-top: 15px !important;
	color: #ed1d7d;
}

.navbar-default .navbar-nav>li>a:hover {
	padding-top: 15px !important;
	color: #ed1d7d;
}

.navbar-default .navbar-brand:focus {color: #ed1d7d;}
.navbar-default .navbar-brand:hover {color: #ed1d7d;}

.light {font-family: honeyscript-light !important;
font-size: 25px; }

.semibold {font-family: honeyscript-semibold !important;
font-size: 36px;
padding-top: 18px;}

.img-size {
	height: 60%;
	width: 60%;
float: right;}

